@font-face {
  font-family: 'NotoSansRegular';
  src: url('/NotoSansKR-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSansMedium';
  src: url('/NotoSansKR-Medium.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'NotoSansBold';
  src: url('/NotoSansKR-Bold.ttf');
  font-weight: 800;
}
body * {
  font-family: 'NotoSansMedium';
}

html,
body {
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  padding: 0.5rem 1rem;
  mix-blend-mode: difference;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

nav li a:hover,
nav li a:active {
  text-decoration: none;
  color: rgba(200, 240, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0 10px 0;
  line-height: 1.5;
  font-family: 'NotoSansBold';
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* button:not('.box') { breaking for some reason in codepen? */
button {
  display: inline-block;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1;
}
button.kakaoButton {
  background: no-repeat url('./assets/kakao-ico.png') center center;
  width: 230px;
  height: 100px;
  background-size: contain;
  padding-block: 0;
  padding-inline: 0;
  margin-top: 70px;
}

/* panels */
.panel {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.panel.dark {
  background-color: #1a1a1a;
  color: #fff;
}
.panel.gray {
  background-color: #212124;
}

.panel li {
  margin: 0;
}
.panel p span {
  color: #fff;
}

.section {
  width: 100%;
  height: 100vh;
}
#section0.panel_mobile {
  background: no-repeat
    url('./src/assets/mobile-background-section0.png') center center;
  background-size: cover;
  width: 100%;
  height: auto;
}
#section3.panel_mobile {
  background: no-repeat
    url('./src/assets/mobile-background-section3.png') center right;
  background-size: cover;
  width: 100%;
  height: auto;
}
#section1.panel > div {
  position: relative;
}
#section1.panel h1 {
  color: #96e2ff;
}
#section1.panel p {
  color: #777;
  padding-top: 50px;
}
#section2.panel p {
  color: #777;
  text-align: center;
}

/* SCROLL DOWN */
.scroll-down .arrow {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-image: url('./assets/arrow-ico.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* 프로필 사진 */
.profileImg {
  padding-bottom: 20px;
}
.profileImg img {
  width: 200px;
  height: auto;
}

/* 반응형 */
h1,
.h1 {
  color: #fff;
  text-align: left;
}
nav li a {
  padding: 0.5rem 1rem 0.25rem;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: normal;
}
.panel p {
  color: #96e2ff;
  padding-top: 20px;
  text-align: right;
}
.naverFormButton {
  color: #fff;
  border: 3px solid #fff;
  padding: 20px 30px;
  margin-top: 40px;
}
.naverFormButton:hover,
.naverFormButton:active {
  color: rgba(200, 240, 255);
  border-color: rgba(200, 240, 255, 0.5);
  font-family: 'NotoSansBold';
  font-weight: bolder;
}
#section3.panel p {
  text-align: left;
  padding-top: 30px;
}
#section3.panel span {
  padding-top: 20px;
  display: block;
  position: relative;
  text-align: left;
}
#section4.panel h1 {
  color: #96e2ff;
  text-align: center;
}
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  overflow: visible;
  z-index: 1;
}
#section1.panel .ideaImg {
  background: no-repeat url('../src/assets/insurance.svg') left bottom;
  position: absolute;
  background-size: contain;
}
#section3.panel span::after {
  content: '';
  position: absolute;
  background: no-repeat url('./assets/line.svg') left center;
  background-size: contain;
}

/* 모바일 */
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 30px;
  }
  nav li a {
    font-size: 15px;
  }
  .panel p {
    font-size: 20px;
  }
  .naverFormButton {
    font-size: 14px;
  }
  .naverFormButton:hover,
  .naverFormButton:active {
    font-size: 15px;
  }
  #section3.panel p {
    font-size: 17px;
  }
  #section3.panel span {
    font-size: 17px;
  }
  #section4.panel h1 {
    font-size: 28px;
  }
  .scroll-down {
    font-size: 13px;
  }
  #section1.panel .ideaImg {
    width: 120px;
    height: 160px;
    left: -20px;
    bottom: 0px;
  }
  #section3.panel span::after {
    width: 120px;
    height: 100px;
    top: 10px;
    left: -10px;
  }
}

/* 테블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 34px;
  }
  nav li a {
    font-size: 16px;
  }
  .panel p {
    font-size: 22px;
  }
  .naverFormButton {
    font-size: 16px;
  }
  .naverFormButton:hover,
  .naverFormButton:active {
    font-size: 17px;
  }
  #section3.panel p {
    font-size: 18px;
  }
  #section3.panel span {
    font-size: 18px;
  }
  #section4.panel h1 {
    font-size: 30px;
  }
  .scroll-down {
    font-size: 14px;
  }
  #section1.panel .ideaImg {
    width: 140px;
    height: 180px;
    left: -20px;
    bottom: 0px;
  }
  #section3.panel span::after {
    width: 140px;
    height: 100px;
    top: 12px;
    left: -10px;
  }
}
/* 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
  h1,
  .h1 {
    font-size: 37px;
  }
  nav li a {
    font-size: 17px;
  }
  .panel p {
    font-size: 24px;
  }
  .naverFormButton {
    font-size: 18px;
  }
  .naverFormButton:hover,
  .naverFormButton:active {
    font-size: 19px;
  }
  #section3.panel p {
    font-size: 19px;
  }
  #section3.panel span {
    font-size: 19px;
  }
  #section4.panel h1 {
    font-size: 32px;
  }
  .scroll-down {
    font-size: 15px;
  }
  #section1.panel .ideaImg {
    width: 160px;
    height: 200px;
    left: -30px;
    bottom: 0px;
  }
  #section3.panel span::after {
    width: 150px;
    height: 110px;
    top: 10px;
    left: -10px;
  }
}

/* 데스크탑 일반 */
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 40px;
  }
  nav li a {
    font-size: 18px;
  }
  .panel p {
    font-size: 26px;
  }
  .naverFormButton {
    font-size: 20px;
  }
  .naverFormButton:hover,
  .naverFormButton:active {
    font-size: 21px;
  }
  #section3.panel p {
    font-size: 20px;
  }
  #section3.panel span {
    font-size: 20px;
  }
  #section4.panel h1 {
    font-size: 34px;
  }
  .scroll-down {
    font-size: 16px;
  }
  #section1.panel .ideaImg {
    width: 170px;
    height: 210px;
    left: -40px;
    bottom: 0px;
  }
  #section3.panel span::after {
    width: 160px;
    height: 120px;
    top: 10px;
    left: -10px;
  }
}
